@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../assets/Poly.png");
    background-color: #FFFFFF;
}

.login{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 610px;
    height: 610px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);

}

.login h2{
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
}

.login .subtext{
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Public Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: normal;
}

.login .box-user input{
    display: flex;
    align-items: center;
    outline: none;
}

.login #loginname{
    color: #004080;
}

.login .box-user label{
    color: var(--preto-preto, #333);
    font-family: 'Public Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login .box-user input{
    width: 289px;
    height: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.box-user{
    margin-left: 63px;
}
.box-user .user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-user input{
    margin-left: 100px;
    margin-top: 2px;
}

.box-user label{
    margin-left: 100px;
}