
@font-face {
    font-family: 'PoetsenOne';
    src: url('../assets/fonts/PoetsenOne/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-height: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../assets/fonts/PublicSans/PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-height: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../assets/Poly.png");
    background-color: #FFFFFF;
}

.login{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 610px;
    height: 610px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);

}

.login h2{
    color: rgba(0, 0, 0, 0.65);
    font-family: 'PoetsenOne';
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
}

.login .subtext{
    text-align: center;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Public Sans', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: normal;
}

.login .box-user input{
    display: flex;
    align-items: center;
    outline: none;
}

.login #loginname{
    color: #0078F0;
}

.login .box-user label{
    color: var(--preto-preto, #333);
    font-family: 'Public Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login .box-user input{
    width: 289px;
    height: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.box-user{
    margin-left: 63px;
    position: relative;
    margin-bottom: 20px;
}
.box-user .user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-user input{
    margin-left: 100px;
    margin-top: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    color: #333;
}

.box-user label{
    margin-left: 100px;
}

.btns .remenber{
    font-family: 'Public Sans';
    font-size: 15px;
    margin-left: 50px;
    cursor: pointer;
}

.btns .btn{
    padding: 10px 50px;
    margin: 50px 100px;
    background-color: #0078F0;
    color: #FFFFFF;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    font-family:'Public Sans';
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-image: linear-gradient(to right, #0078F0, #0164c7);
}

